<div class="container">
  <div class="text-center">
    <h3 class="display-6">Client Add Form</h3>
    <hr>
    <form [formGroup]="trainerForm" (ngSubmit)="onSubmit()">
      <div class="grip p-fluid forma">

        <div class="col-4 md:col-4 mb-3">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Name" formControlName="name">
          </div>
        </div>

        <div class="col-4 md:col-4 mb-3">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Surname" formControlName="surname">
          </div>
        </div>

        <div class="col-4 md:col-4 mb-3">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
            <input type="text" pInputText placeholder="Address" formControlName="address">
          </div>
        </div>

        <div class="col-4 md:col-4 mb-3">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
            <input type="text" pInputText placeholder="Phone number" formControlName="phone_number">
          </div>
        </div>

        <div class="col-4 mb-3">
          <p-multiSelect  [options]="clients" placeholder="Select clients"
                       optionLabel="name" optionValue="id"
                       [showClear]="true" formControlName="clientIds"></p-multiSelect>
        </div>

        <div class="col-4">
          <p-multiSelect [options]="trainingPrograms" placeholder="Select a Training program"
                      optionLabel="name" optionValue="id"
                      [showClear]="true"
                      formControlName="training_programIds"></p-multiSelect>
        </div>
      </div>
      <hr>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
      <button type="button" class="btn btn-primary mt-3 ms-3" (click)="goBack()">Back</button>
    </form>
  </div>
</div>
