<div class="container">
  <div>
    <h3>Information about the client : <span>{{client.name}} {{client.surname}}</span></h3>
  </div>
  <div>
    <div><span>Client id : {{client.id}}</span></div>
    <div><span>Client full name : {{client.name}} {{client.surname}}</span></div>
    <div><span>Client phone number : {{client.phone_number}}</span></div>
    <div><span>Client address : {{client.address}}</span></div>
    <div><span>Client training program : {{client.training_program.name}}</span></div>
  </div>
</div>
